version: '3.4'

services:
  todolist.api:
    image: ${DOCKER_REGISTRY-}todolistapi
    build:
      context: .
      dockerfile: src\ToDoList.Api\Dockerfile
    
  todoservice:
    image: ${DOCKER_REGISTRY-}todoservice
    build:
      context: .
      dockerfile: src\ToDoService\Dockerfile
    